<!-- USER input boxes-->

<h2> {{title}}</h2>

<div>
    <label>Subject Name: </label>
    <input [(ngModel)] = "subject" type="text" class = "searchBox" placeholder="Enter Subject Name">

<!--ngModel is a directive which binds input, select and textarea, 
    and stores the required user value in a variable and we can use that variable whenever we require that value.-->

    <label>Course Code: </label>
    <input [(ngModel)] = "course" type="text" class = "searchBox" placeholder="Enter Course Code">

    <label>Component: </label>
    <input [(ngModel)] = "component" type="text" class = "searchBox" placeholder="Enter Course Component">

    <button (click) = "searchResults()">Submit!</button>

</div>

<h2>Schedules:</h2>

<div>
    <ul *ngFor = "let s of schedule; let i = index">
        <li><button (click) = "addClass(i)">{{s.schedule_name}}</button></li>   
    </ul>
</div>

<h3>Here are your Results!</h3>
<table>
    <tr>
       <th>index</th>
      <th>Subject</th>
      <th>Course Code</th>
      <th>Component</th>
    </tr>
    <tr *ngFor = "let x of result; let i = index">
      <td>{{i}}</td>
      <td>{{x.subject}}</td>
      <td>{{x.catalog_nbr}}</td>
      <td>{{x.course_info[0].ssr_component}}</td>
      <td>
          <!-- Call the function by passing the index of the row for which the button was clicked-->
          <button (click)= "addToSchedule(i)" value = "Edit">Add this course to Schedule!</button>
      </td>
    </tr>
    
  </table>

  <h3>Your Timetable for schedule {{ scheduleName}}: </h3>
  <table>
    <tr>
       <th>index</th>
      <th>Subject</th>
      <th>Course Code</th>
      <th>Component</th>
      <th>Class Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Days</th>
      <th>Campus</th>
      
    </tr>
    <tr *ngFor = "let c of timetableArray; let i = index">
      <td>{{i}}</td>
      <td>{{c.subject}}</td>
      <td>{{c.catalog_nbr}}</td>
      <td>{{c.course_info[0].ssr_component}}</td>
      <td>{{c.className}}</td>
      <td>{{c.course_info[0].start_time}}</td>
      <td>{{c.course_info[0].end_time}}</td>
      <td>{{c.course_info[0].days}}</td>
      <td>{{c.course_info[0].campus}}</td>
     
    </tr>
    
  </table>











